.bg-primary {
    background-color: rgb(140, 180, 254) !important;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Optional: set a width */
  }

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45pt;
    color: aliceblue;
}

h2 {
    text-align: center;
    color: rgb(0, 45, 158);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25pt;
}

p {
    font-size: 15pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

ol {
    margin-left: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13pt;
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13pt;
}

a {
    color:rgb(247, 236, 255);
    font-size: 14pt;
}

a:visited {
    color: rgb(66, 14, 114);
}

.three-column {
    display: flex;

}

.left-third, .middle-third, .right-third {
    flex: 1;
    padding: 20px;
    border: solid rgb(0, 84, 193) 8px;
    background-color: cornflowerblue;
    color: aliceblue
    
    
}

.split-container {
    display: flex;
}

.left, .right {
    width: 50%;
    padding: 20px;
}
